.page-footer {
    .footer-text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer-link {
        color: #fff;
        text-decoration: none;
        font-family: $font-logo;
        font-weight: 700;
        font-size: 150%;
    }
}