img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

// Color SideBar
$color-item-sidebarTitle: #2b2a2a;
$color-item-sidebarBox: #5c5a5a;
$color-item-sidebarBox-hover: #ff9100;
// Color Category
$color-item-Product-Category: #888;
$color-item-Product-Price: #333;
// Font size
$font-size-name: 130%;
$font-size-price: 115%;
$font-size-description: 110%;