@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
$font: 'Balthazar',
serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
$font-logo: 'Noto Serif',
serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
$font-text: 'Roboto Mono',
monospace;