$res-medium: "only screen and (max-width: 768px)";
@mixin res-medium {
    @media #{$res-medium} {
        @content;
    }
}

@include res-medium() {
    .content {
        .sidebar {
            padding-top: 20px;
            padding-left: 40px;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 999;
            margin-left: -250px;
            visibility: hidden;
            transition: all .5s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            #btnHideSidebar {
                position: absolute;
                right: 15px;
            }
        }
        .active {
            margin-left: 0px !important;
            visibility: visible !important;
        }
        .product {
            &-img {
                width: 95%;
            }
            &-body {
                &__price {
                    font-size: 120%;
                }
            }
        }
    }
    .cart {
        .page-title {
            margin-left: 20px;
        }
        .cart-price__text,
        .cart-count__text,
        .cart-title,
        .cart-update__text,
        .cart-afterUpdate__text {
            display: none;
        }
        .cart-price::before {
            content: "giá: ";
        }
        .cart-after-price::before {
            content: "Tổng giá: ";
            font-size: 100% !important;
        }
        .cart-after-price {
            font-size: 120%;
            font-weight: 600;
        }
    }
}