$heading-primary-low__blue: rgba(54, 137, 231, .4);
$heading-primary__blue: rgba(21, 114, 221, .6);
$heading-primary-high__blue: rgba(4, 61, 134, .8);
$color-dark__text: #4c4c4c;
$color-dark-high__text: #464040;
$color-light__text: #fff;
$color-section__name: #F4D03F;
$color-product__content: #0671BF;
$color-product__img: rgb(166, 196, 219);